<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="Space.Server.SpaceServer" behaviorConfiguration="SpaceServer_ServiceBehavior">
        <endpoint contract="Space.Network.ISpaceServer"
                  binding="netTcpBinding"
                  address="net.tcp://localhost:5555/SpaceServer" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SpaceServer_ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>